from telegram.ext import Updater, CommandHandler

def start(update, context):
    update.message.reply_text("مرحبا! البوت اشتغل تمام 🚀")

def main():
    updater = Updater("8298758056:AAHfwz7hLN8e4vZbu3so2_sv1cXNvne2jQI", use_context=True)
    dp = updater.dispatcher

    dp.add_handler(CommandHandler("start", start))

    updater.start_polling()
    updater.idle()

if __name__ == "__main__":
    main()
